/* Ensure the top row is sticky and spans across the top */
.top-row {
    min-height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 3;
    /* Keeps navbar above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

/*all navbar-togler stuff is css
 only visible on small screens*/

/* Style for the navbar toggler button */
.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

/* Style for the navbar toggler when checked */
.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Navbar items: hide on small screens and show as horizontal items on larger screens */
.nav-scrollable {
    display: none;
}

/* Show the nav-scrollable when the navbar toggler is checked */
.navbar-toggler:checked~.nav-scrollable {
    display: block;
}

/* Style for the nav links */
.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

/* Style for the active nav link */
.nav-item ::deep .nav-link.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

/* Style for the nav link on hover */
.nav-item ::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* Use a row layout for larger screens (md and up) */
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
        /* Hide toggler for large screens */
    }

    /* Navbar is horizontal for larger screens */
    .nav-scrollable {
        display: block;
        height: auto;
        overflow-y: visible;
        flex-direction: row;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

/* On small screens, the menu becomes a dropdown */
@media (max-width: 640px) {
    .nav {
        flex-direction: column;
        /* Stack the nav items vertically */
        justify-content: flex-start;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item ::deep .nav-link {
        text-align: center;
    }
}