@page "/"

<PageTitle>The Juice Safari</PageTitle>

<div class="container d-flex flex-column align-items-center justify-content-center text-center mt-auto">
    <h1 class="mb-4">The Juice Safari</h1>
    <p class="lead">Welcome to the best juice bar in town!</p>
</div>
