@page "/menudisplay"
@inject AdminService AdminService


<h3>Juice Menu</h3>

<p>Welcome to the best juice bar in town! Take your pick:</p>

@if (AdminService.GetMenuItems().Count == 0)
{
    <p>No menu items available.</p>
}
else
{
    <ul>
        @foreach (var item in AdminService.GetMenuItems())
        {
            <li>@item.Name - $@item.Price</li>
        }
    </ul>
}